#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15vw;
}

#thanks {
    color: var(--primary, #FF8DAF);
    text-align: center;
    font-size: 6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

#interview {
    color: var(--gray-700, #828282);
    text-align: center;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-top: 20px;
    margin-bottom: 152px;
}

button {
    height: 70px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: var(--primary, #FF8DAF);
    color: var(--white, #FFF);
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}
