<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>앱앤미</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
<header id="header">
    <nav id="nav">
        <ul id="nav-menu">
            <li class="nav-item">부원 소개</li>
            <li class="nav-item">지원하기</li>
            <li class="nav-item">QnA</li>
            <li class="nav-item">활동기록</li>
        </ul>
        <div id="nav-logo">
            <img src="/images/logo.png" alt="" class="logo-img">
        </div>
    </nav>
</header>
</body>
</html>