<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>앱앤미</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
    <header id="header">
        <nav id="nav">
            <ul id="nav-menu">
                <li class="nav-item"><a href="/members">부원 소개</a></li>
                <li class="nav-item"><a href="/application">지원하기</a></li>
                <li class="nav-item"><a href="/qna">QnA</a></li>
                <li class="nav-item"><a href="/records">활동기록</a> </li>
            </ul>
            <div id="nav-logo">
                <a href="/"><img src="/images/logo.png" alt="" class="logo-img"></a>
            </div>
        </nav>
    </header>
    <!-- 배주연 -->
</body>

</html>