<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>앱앤미</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/application/success_apply.css">
</head>

<body>
    <header id="header">
        <nav id="nav">
            <ul id="nav-menu">
                <li class="nav-item"><a href="/members">부원 소개</a></li>
                <li class="nav-item"><a href="/application">지원하기</a></li>
                <li class="nav-item"><a href="/board">QnA</a></li>
                <li class="nav-item"><a href="/records">활동기록</a> </li>
                <li class="nav-item"><a href="/upload">질문하기</a> </li>
            </ul>
            <div id="nav-logo">
                <a href="/"><img src="/images/logo.png" alt="" class="logo-img"></a>
            </div>
        </nav>
    </header>
    <main>
        <div id="container">
            <div id="thanks">질문이 업로드 되었습니다!</div>
            <div id="interview">답변은 24시간 내에 업로드 됩니다 :)</div>
            <button type="submit" onclick="window.open('/', '_top')">홈으로 돌아가기</button>
        </div>
    </main>
    <footer id="footer">
        <div class="logos">
            <div class="anm-logo">
                <img src="/images/logo.png" alt="앱앤미로고">
                <span>App&Me</span>
            </div>
            <div class="sns-logo">
                <a href="https://www.instagram.com/app_and_me/">
                    <img src="/images/instagram.png" alt="">
                </a>
            </div>
        </div>
        <div class="info">
            <div>문의전화: 010-0000-0000</div>
            <div>이메일 : w2218@e-mirim.hs.kr</div>
        </div>
        <hr>
        <div class="code">©Team App&Me</div>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>
