<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>앱앤미</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/board/board.css">
</head>

<body>
    <header id="header">
        <nav id="nav">
            <ul id="nav-menu">
                <li class="nav-item"><a href="/members">부원 소개</a></li>
                <li class="nav-item"><a href="/application">지원하기</a></li>
                <li class="nav-item"><a href="/board">QnA</a></li>
                <li class="nav-item"><a href="/records">활동기록</a> </li>
            </ul>
            <div id="nav-logo">
                <a href="/"><img src="/images/logo.png" alt="" class="logo-img"></a>
            </div>
        </nav>
    </header>
    <main id="main">
        <div class="count">전체 44건</div>
        <table>
            <thead class="table-header">
                <tr class="table-header-row">
                    <th class="number">번호</th>
                    <th class="title">제목</th>
                    <th class="date">작성일</th>
                    <th class="complete">답변 여부</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td lass="number">1</td>
                    <td class="title">첫 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">2</td>
                    <td class="title">두 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">3</td>
                    <td class="title">세 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">4</td>
                    <td class="title">네 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">5</td>
                    <td class="title">다섯 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">6</td>
                    <td class="title">여섯 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">7</td>
                    <td class="title">일곱 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">8</td>
                    <td class="title">여덟 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">9</td>
                    <td class="title">아홉 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
                <tr class="row">
                    <td class="number">10</td>
                    <td class="title">열 번째 게시글</td>
                    <td class="date">2024-02-01</td>
                    <td class="complete">답변 준비중</td>
                </tr>
            </tbody>
        </table>
        <div class="page-nav">
            <div class="icons">
                <div class="max-prev"><iconify-icon  class="icon" icon="material-symbols:keyboard-double-arrow-left-rounded"></iconify-icon></div>
                <div class="prev"><iconify-icon class="icon" icon="iconamoon:arrow-left-2-light"></iconify-icon></div>
            </div>
            <div class="pages">
                <div class="page current">1</div>
                <div class="page">2</div>
                <div class="page">3</div>
                <div class="page">4</div>
                <div class="page">5</div>
                <div class="page">6</div>
                <div class="page">7</div>
                <div class="page">8</div>
                <div class="page">9</div>
            </div>
            <div class="icons">
                <div class="next"><iconify-icon class="icon" icon="iconamoon:arrow-right-2-light"></div>
                <div class="max-next"><iconify-icon class="icon" icon="material-symbols:keyboard-double-arrow-right-rounded"></iconify-icon></div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div class="logos">
            <div class="anm-logo">
                <img src="/images/logo.png" alt="앱앤미로고">
                <span>App&Me</span>
            </div>
            <div class="sns-logo">
                <img src="/images/instagram.png" alt="">
            </div>
        </div>
        <div class="info">
            <div>문의전화: 010-0000-0000</div>
            <div>이메일 : w2218@e-mirim.hs.kr</div>
        </div>
        <hr>
        <div class="code">©Team App&Me</div>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body> 
</html>